:root {
    --white: #FFFFFF;
    --backgroundApp: #F5EEE6;
    --backgroundApp2: #dad3c9;
    --yellow: #FFF8E3;
    --orange: #F3D7CA;
    --pink: #E6A4B4;
    --pinkDark: #c28191;
    --red: #A94438;
    --black: #161A30;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}