.toggle-Menu {
    width: 100px;
    height: 40px;
    margin-top: 70px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: end;

}

.toggle-Menu button {
    background: var(--pink);
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 95%;
    margin-bottom: 4px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

}

.toggle-Menu button:hover {
    background: var(--red);
}

.toggle-Menu button span {
    font-size: 16px;
    margin-left: 6px;
}